body {
  background: whitesmoke;
  font-family: sans-serif;
  line-height: 2;
}

header {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/120/480/original/20161124_122608.jpg?1711269519");
  filter: brightness(100%) contrast(102%) hue-rotate(14deg) saturate(200%)
    sepia(48%);
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 50px;
}
header h1 {
  color: purple;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 25%;
  border: 2px solid rgb(93, 132, 215);
  padding: 10px O;
}
header h2 {
  font-size: 25px;
  color: purple;
  border-radius: 15px;
  text-align: center;
  margin-top: 35%;
}

header h3 {
  font-size: 25px;
  color: purple;
  border-radius: 15px;
  text-align: center;
  margin-top: 35%;
}

.headerTypes {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/120/547/original/20161124_122800.jpg?1711299674");
  filter: brightness(100%) contrast(102%) hue-rotate(14deg) saturate(200%)
    sepia(48%);
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 50px;
}
.types {
  list-style: none;
  display: inline-flex;
  line-height: 1;
  background: rgb(144, 227, 214);
  padding: 30px;
  border-radius: 15px;
}

main {
  color: rgb(93, 132, 215);
  line-height: 2;
  padding: 30px;
  margin: 20px;
}

main h2 {
  text-align: center;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.box {
  background-color: turquoise;
  opacity: 0.7;
  color: blueviolet;
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
  border-radius: 8px;
}

img {
  filter: hue-rotate (268deg) sepia (100%) saturate (300%);
  display: flex;
  width: 15%;
  border-radius: 30px;
  border: 2px solid pink;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.card {
  background: white;
  color: grey;
  margin: 20px 0;
  border-radius: 15px;
  padding: 30px;
  border: 2px solid rgb(93, 132, 215);
}

.card-body {
  padding: 20px;
  color: grey;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: rgb(93, 132, 215);
  text-decoration: none;
  border: 2px solid rgb(142, 247, 142);
  border-radius: 15px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
  background: rgb(144, 227, 214);
  opacity: 0.7;
  border-radius: 15px;
}

section h4 {
  text-align: center;
  color: rgb(93, 132, 215);
}

section h2 {
  color: rgb(93, 132, 215);
  text-align: center;
}

section h1 {
  background-color: blueviolet;
  opacity: 0.7;
  color: whitesmoke;
  text-align: center;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  border: 1px solid whitesmoke;
}

section h3 {
  color: rgb(93, 132, 215);
  text-align: center;
}

section h5 {
  color: blueviolet;
  font-style: italic;
}
footer {
  color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

footer h1 {
  text-align: center;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-left: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
  line-height: 1;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: blue;
  opacity: (0.7);
}

.gridFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
  text-align: center;
  padding: 30px;
}

.link {
  font-size: smaller;
}

.nav {
  background-color: rgb(93, 132, 215);
  color: bisque;
  padding: 30 auto;
  border-radius: 10px;
  border: 1px solid blueviolet;
  text-align: center;
}

.learn {
  background-color: rgb(93, 132, 215);
  border: 2 solid rgb(93, 132, 215);
  color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

link {
  text-decoration: none;
}

.table {
  display: block;
  position: center;
  background-color: rgb(144, 227, 214);
  opacity: 0.7;
  border: 2px solid rgb(93, 132, 215);
  border-radius: 30px;
  column-gap: 40%;
}

.tableEva {
  display: block;
  position: center;
  background-color: rgb(144, 227, 214);
  opacity: 0.7;
  border: 2px solid rgb(93, 132, 215);
  border-radius: 30px;
  padding: 30px;
  color: white;
}

table {
  border: 1px solid lightgrey;
  width: 100%;
}

td {
  border-top: 1px solid lightgray;
}

th {
  color: blueviolet;
  font-weight: bold;
}

.key {
  font-weight: bold;
}

.embed-responsive {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  aspect-ratio: 21 / 9;
}

td {
  border-top: 1px solid lightgray;
  height: 70%;
}

.procast {
  overflow-x: auto;
  border: 1px solid lightgrey;
  width: 100%;
}

thead {
  font-size: smaller;
  height: 70%;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 25px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .section {
    background-color: pink;
  }

  .boxes {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background: none;
    padding: 5px;
    font-size: 15px;
    justify-content: center;
  }

  .box {
    background-color: whitesmoke;
    column-gap: 10%;
  }

  header {
    padding: 60px 0;
  }

  .types {
    display: list-item;
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .gridFooter {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .nav {
    display: grid;
    padding-left: 10px;
  }

  .tableEva {
    overflow-x: auto;
  }
  .responsive-table {
    overflow-x: auto;
  }
}
